# first list the packages you wish to download from PyPI
teachbooks == 0.2.1 # depends on jupyter-book
jupyterbook-patches == 1.6.2
sphinx-image-inverter == 1.1.3
download_link_replacer == 1.0.4
sphinx-tudelft-theme == 1.1.5
teachbooks-sphinx-tippy == 1.0.9

# Now list the packages you want to download directly from GitHub
git+https://github.com/TeachBooks/Sphinx-Thebe
